<div class="container-fluid gray hidden-sm hidden-xs">
		<div class="row">
			<div class="col-lg-12">

				<h4>Meet the Executive Team</h4>
			</div>
		</div>
	<div class="row">
		<div class="col-lg-1 hidden-sm hidden-xs"></div>
			<div class="col-lg-2 hidden-sm hidden-xs">
				<div class="client-image-container">
					<img src="/img/john.jpg" class="client-image" />
				</div><br>
				<div class="caption"><strong>John McMillan</strong><br>Co-Founder</div>
			</div>
			<div class="col-lg-2 hidden-sm hidden-xs">
				<div class="client-image-container">
					<img src="/img/allison.jpg" class="client-image" />
				</div><br>
				<div class="caption"><strong>Allison McMickell</strong><br>C.O.O</div>
			</div>
			<div class="col-lg-2 hidden-sm hidden-xs">
				<div class="client-image-container">
					<img src="/img/teka.jpg" class="client-image" />
				</div><br>
				<div class="caption"><strong>Teka Bundy</strong><br>General Manager</div>
			</div>
			<div class="col-lg-2 hidden-sm hidden-xs">
				<div class="client-image-container">
					<img src="/img/maddie.jpg" class="client-image" />
				</div><br>
				<div class="caption"><strong>Maddie Huerter</strong><br>Business Specialist</div>
			</div>
			<div class="col-lg-2 hidden-sm hidden-xs">
				<div class="client-image-container">
					<img src="/img/peter.jpg" class="client-image" />
				</div>
			</div><br>
			<div class="caption"><strong>Peter McDonald</strong><br>Vyral Marketing School Instructor</div>
			<div class="col-lg-1 hidden-sm hidden-xs"></div>
	</div>
</div>
