<a href="/join-our-team" target="_blank">
  <div class="simple-side-cta-container">
  <p class="secondary-cta-title">
    Join Our Team
  </p>
  <img src="/img/join-our-team.png" class="simple-cta-photo">
  <p class="secondary-subtitle">
    Get Paid to Learn In-Demand Marketing Skills
  </p>
  <a href="http://www.getvyral.com/careers-apply-now" target="_blank" class="simple-cta-link">
    Apply Now
  </a>
</div>
</a>

<a href="/events/" target="_blank">
  <div class="simple-side-cta-container">
    <p class="secondary-cta-title">
      Upcoming Events
    </p>
    <img src="/img/workshop.png" class="simple-cta-photo">
    <p class="secondary-subtitle">
      Workshops and More
    </p>
  <a href="http://www.getvyral.com/events" target="_blank" class="simple-cta-link">
    See All
  </a>
</div>
</a>


<div class="fb-page" data-href="http://www.facebook.com/VyralMarketing" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="http://www.facebook.com/VyralMarketing" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/VyralMarketing">Vyral Marketing</a></blockquote></div>
